@import 'src/assets/css/variables';

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px;
    background-color: $primary-dark-colour;
    color: $secondary-lighter-colour;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 70%;
}