@import './variables';

.text-left-to-right {
    direction: ltr;
}

.text-right-to-left {
    direction: rtl;
}

* {
    font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.4rem;
}
h5 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1rem;
}
div, p, button {
    font-size: 1rem;
}

.content {
    & > *:not(:last-child) {
        margin: 0;
        padding: 0 0 0.8rem;
    }
}

h1, h2, h3, h4, h5, h6, p {
    display: flex;
    margin: 0;
    padding: 0;
    &:not(:last-child) {
        padding-bottom: 0.5rem;
    }
}

a {
    color: $primary-darker-colour;
    text-decoration: underline;

    &:hover {
        cursor: pointer;
        color: $primary-dark-colour;
        text-decoration: none;
    }
}