@import 'src/assets/css/variables';

.language-picker {
    display: flex;
    flex-direction: row;

    & > * { 
        & * {
            margin: 0 0.5rem;
            padding: 0.25rem 0.5rem;
        }

        &:hover {
            cursor: pointer;
            & * {
                border-radius: 0.25rem;
                background-color: $secondary-lighter-colour;
                color: $secondary-dark-colour;
            }
        }
        
        &:not(:first-child) {
            border-left: solid 1px;
        }

        &:first-child > * {
            margin-left: 0;
        }

        &:last-child > * {
            margin-right: 0;
        }
    }
}