<app-popup [formGroup]="form" 
        [title]="popupTitle"
        secondaryButton="button:only-selected" 
        (secondaryAction)="saveSelected()"
        primaryButton="button:select-all"
        (primaryAction)="saveAll()">
    <div class="content">
        <p>{{ 'preferences:description' | translate }}</p>
        <app-checkbox *ngFor="let preferenceField of preferenceFields" 
                [disabled]="!preferenceField.updatable" 
                [formControlName]="preferenceField.preference">
            <h5>{{ preferenceField.name | translate }}</h5>
            <p>{{ preferenceField.description | translate }}</p>
        </app-checkbox>
    </div>
</app-popup>

<ng-template #popupTitle>
    <div>
        <h4>{{ 'preferences:title' | translate }}</h4>
    </div>
    <app-language-picker></app-language-picker>
</ng-template>