@import 'src/assets/css/variables';

:host {
    display: flex;
}

:hover {
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: $secondary-lighter-colour;
    color: $secondary-dark-colour;
}