<pg-popup [formGroup]="form" 
        [title]="popupTitle"
        secondaryButton="button:only-selected" 
        (secondaryAction)="saveSelected()"
        primaryButton="button:select-all"
        (primaryAction)="saveAll()">
    <div class="content">
        <p>{{ 'preferences:description' | translate }}</p>
        <pg-checkbox *ngFor="let preferenceField of preferenceFields" 
                [disabled]="!preferenceField.updatable" 
                [formControlName]="preferenceField.preference">
            <h5>{{ preferenceField.name | translate }}</h5>
            <p>{{ preferenceField.description | translate }}</p>
        </pg-checkbox>
    </div>

    <pg-privacy-policy-popup></pg-privacy-policy-popup>
</pg-popup>

<ng-template #popupTitle>
    <div>
        <h4>{{ 'preferences:title' | translate }}</h4>
    </div>
    <pg-language-picker></pg-language-picker>
</ng-template>