* {
    font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.4rem;
}
h5 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1rem;
}
div, p {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    &:not(:last-child) {
        padding-bottom: 0.8rem;
    }
}