$primary-colour: #1e81b0;
$primary-light-colour: #76b5c5;
$primary-lighter-colour: #abdbe3;
$primary-dark-colour: #154c79;
$primary-darker-colour: #063970;

$secondary-colour: #e28743;
$secondary-light-colour: #eab676;
$secondary-lighter-colour: #eeeee4;
$secondary-dark-colour: #873e23;
$secondary-darker-colour: #21130d;

$white: #ffffff;
