<div class="main-header">
    <div>
        <h1>
            <app-svg-icon [icon]="SvgIcon.mainLogo"></app-svg-icon>
            <span>{{ appName }}</span>
        </h1>
    </div>
    <div class="header-menu">
        <app-language-picker></app-language-picker>
        <h3>
            <app-login-button></app-login-button>
        </h3>
        
    </div>
</div>
<!-- This is the Angular routing we activated during the creation: -->
<router-outlet></router-outlet>

<div class="main-content">
    <p>
        {{ 'welcome' | translate }}
    </p>
    <p>
        {{ 'what_we_do' | translate }}
    </p> 
</div>

<div class="main-footer">
    <app-svg-icon [icon]="SvgIcon.mainLogo"></app-svg-icon>
    <span>
        {{ appName }} version {{ appVersion }}
    </span>
</div>

<ng-container *ngFor="let layer of overlayerService.overLayers"
  [ngTemplateOutlet]="layer.template" 
  [ngTemplateOutletContext]="layer.context">
</ng-container>

<app-preference-popup></app-preference-popup>