@import 'src/assets/css/variables';

.main-header {
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px;
    background-color: $primary-dark-colour;
    color: $secondary-lighter-colour;
    padding: 0.5rem 1rem;

    .header-menu {
        align-items: center;
        margin: 0 -0.25rem;
        overflow-x: hidden;

        & > * {
            margin: 0 0.25rem;
        }
    }
}

.main-content {
    padding: 1rem;
}

.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 70%;
}