<div pgLocalFlexDirection class="main-header">
    <div>
        <h1 pgLocalTextDirection>
            <pg-svg-icon [icon]="SvgIcon.mainLogo"></pg-svg-icon>
            <span>{{ appName }}</span>
        </h1>
    </div>
    <div pgLocalFlexDirection class="header-menu">
        <pg-language-picker></pg-language-picker>
        <h3>
            <pg-login-button></pg-login-button>
        </h3>
        
    </div>
</div>

<div pgLocalTextDirection class="main-content">
    <router-outlet></router-outlet>
</div>

<div pgLocalTextDirection class="main-footer">
    <pg-svg-icon [icon]="SvgIcon.mainLogo"></pg-svg-icon>
    <span>
        {{ appName }} version {{ appVersion }}
    </span>
</div>

<ng-container *ngFor="let layer of overlayerService.overLayers"
  [ngTemplateOutlet]="layer.template" 
  [ngTemplateOutletContext]="layer.context">
</ng-container>

<pg-preference-popup></pg-preference-popup>