<div class="main-header">
    <div>
        <h1>Petit Gouter</h1>
    </div>
    <div class="header-menu">
        <app-language-picker></app-language-picker>
        <app-login-button></app-login-button>
    </div>
</div>
<!-- This is the Angular routing we activated during the creation: -->
<router-outlet></router-outlet>

<div class="main-content">
    <p>
        {{ 'welcome' | translate }}
    </p>
    <p>
        {{ 'what_we_do' | translate }}
    </p> 
</div>

<div class="main-footer">
    <span>Petit Gouter version {{ appVersion }}</span>
</div>

<ng-container *ngFor="let layer of overlayerService.overLayers"
  [ngTemplateOutlet]="layer.template" 
  [ngTemplateOutletContext]="layer.context">
</ng-container>

<app-preference-popup></app-preference-popup>