<ng-template #popup>
    <div class="background">
        <div class="popup-wrapper">
            <div class="popup">
                <div *ngIf="title" class="popup-title">
                    <div>
                        <ng-container *ngTemplateOutlet="title"></ng-container>
                    </div>
                </div>
                <div class="popup-content content">
                    <ng-content></ng-content>
                </div>
                <div class="popup-footer">
                    <div>
                        <button *ngIf="secondaryButton"
                        class="secondary"
                        (click)="secondaryCall()">
                            {{ secondaryButton | translate }}
                        </button>
                        <button class="primary" 
                        (click)="primaryCall()">
                            {{ primaryButton | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>