@import 'src/assets/css/variables';

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.9);

    .popup {
        display: flex;
        flex: auto;
        flex-direction: column; 
        border: solid 1px $primary-darker-colour;
        border-radius: 1rem;
        background-color: $white;
        min-width: 60%;
        margin: 2rem;
        max-height: calc(100% - 4rem); // 4rem = 2 * margin
        overflow: hidden;

        & > * {
            padding: 1rem;
        }

        .popup-title {
            flex-grow: 0;
            background-color: $primary-dark-colour;
            color: $secondary-lighter-colour;
            
            & > * {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }

        .popup-content {
            flex-grow: 1;
            overflow-y: scroll;
        }

        .popup-footer {
            flex-grow: 0;
            border-top: solid 1px $primary-darker-colour;

            & > * {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                & > *:not(:last-child) {
                    margin-right: 1rem;
                }

            }
        }
    }
}