@import 'src/assets/css/variables';

.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 1vh;
    right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.9);

    .popup {
        border: solid 1px $primary-darker-colour;
        border-radius: 1rem;
        background-color: $white;
        min-width: 60%;

        & > * {
            padding: 1rem;
        }

        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            border-top: solid 1px $primary-darker-colour;

            & > *:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}